@{
    ViewData["Title"] = "Home Page";
}

@model Application.Cities.Models.CitiesListModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Please choose city</h3>

    @foreach (var item in Model.Cities)
    {
        <p>@item.Name</p>
    }
</div>
